:root{
    --background: #FFFFFF;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background: #FFFFFF;
}

img{
    display: block;
}

.logo{
    font-family: 'Raleway' , sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
}

span{
    color: #2e2f42;
}

.list{
    list-style: none;
    font-weight: 500;
}

.first{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0;
}

.list .first:focus , .list .first:hover{
    color: #404bbf;
}

.info{
    font-style: normal;
}

.info .email{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.info .email:focus , .info .email:hover{
    color: #404bbf;
}

.first-section{
    background-color: #2e2f42;
    padding: 188px 0;
}

.business-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}

.order-button{
    background-color: #4d5ae5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.order-button:focus , .order-button:hover{
    background-color: #404BBF;
}

.second-section-head{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.second-section-paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.third-section-head{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.fourth-section{
    background-color: #F4F4FD;
}

.fourth-section-head{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-bg{
    background-color: #FFFFFF;
}

.footer{
    background-color: #2e2f42;
}

.studio{
    color: #f4f4fd;
}

.footer-paragraph{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.studio-port{
    color: #2e2f42;
}

.all-button{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
}

.all-button:focus , .all-button:hover{
    color: #FFFFFF;
    background-color: #404BBF;
    cursor: pointer;
}

.default{
    text-decoration: none;
}

.head{
    border-bottom: 1px solid #e7e9fc;
}

.nav-bar{
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo-menu{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    gap: 40px;
}

.address{
    display: flex;
    gap: 40px;
}

.offers{
    gap: 24px;
    display: flex;
}

.bullets{
    width: 66px;
}

.first-section{
    padding: 188px 0;
}

.second-section{
    padding: 120px 0;
}